

h1{
  margin: 0;
  /* h1 ki wjah se margin 0 aayegi isliye   */
}
.header{
  background-color: blue;
  padding: 8px;
  text-align: center;
}
/* main me sare cmponenets h */
.main{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;

}
.movie{
  background-color: rgb(96, 91, 91) ;
  color: black;
  padding: 10px;
  padding-bottom: 20px;
  width: 22%;
  margin-top: 18px;
  text-align: center;
}
.movie img{
  height: 220px;
  width: 100%;
}
.movie p{
  color: rgb(228, 157, 157);
  
}


